html{
	font-family: sans-serif;
	width: 70%;
	height: 70%;
	margin: auto auto;
}

h1{
	font-size: 30pt;
	color: black;
	text-decoration: underline;
	text-align: center;
}

Bild{
	border-radius: 5px;
	width: 50%;
}

body{
	background: rgba(240,240,240,255);
}
