html{
	font-family: sans-serif;
	width: 70%;
	height: 70%;
	margin: auto auto;
}

h1{
	font-weight: bold;
	font-size: 30pt;
	color: black;
	text-decoration: underline;
	text-align: center;
}

.Bild{
	margin-left: auto;  
	margin-right: auto;
	border: 1px solid black;
	border-radius: 15px;
	width: 50%;
	box-shadow: 6px 6px 10px -2px rgba(0,0,0,100);
}

.center{
	text-align: center;  
}  

body{
	background: rgba(240,240,240,255);
}
